SDKROOT = iphonesimulator2.0
SYMROOT = ../../../../build
BUILD_DIR = $(SYMROOT)
OBJROOT = $(SYMROOT)
PROJECT_TEMP_DIR = $(OBJROOT)/$(PROJECT_NAME).build
CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
PUBLIC_HEADERS_FOLDER_PATH = /include
HEADER_SEARCH_PATHS = $(BUILD_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)$(PUBLIC_HEADERS_FOLDER_PATH)
